APP_NAME=Narsampet360

NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/narsampet360

REDIS_HOST=localhost
REDIS_PORT=6379

MINIO_ENDPOINT=localhost
MINIO_PORT=9000

JWT_ACCESS_SECRET=change_this
JWT_REFRESH_SECRET=change_this